@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Inter", serif;
    font-size: 62.5%;
    font-weight: 400;
    --clr-green: hsl(75, 94%, 57%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-grey700: hsl(0, 0%, 20%);
    --clr-grey800: hsl(0, 0%, 12%);
    --clr-grey900: hsl(0, 0%, 8%);
}


body {
    background-color: var(--clr-grey900);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--clr-grey800);
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--clr-white);
    padding: 2rem;
    border-radius: 1rem;
}

.card__img {
    border-radius: 50%;
    max-width: 30%;
}

.card__title {
    margin-top: 1.5rem;
    font-size: 1.6rem;
    font-weight: 600;
}

.card__address {
    margin-top: .5rem;
    color: var(--clr-green);
    font-size: .9rem;
    font-weight: 600;
}

.card__role {
    margin-top: 2rem;
    font-size: .9rem;
}

.card__list {
    list-style: none;
    max-width: 100%;
    margin-top: 1.5rem;
}

.card__item {
    background-color: var(--clr-grey700);
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem 6rem;
    transition: all 0.6s;
    font-weight: 700;
}

.card__item:hover{
    background-color: var(--clr-green);
    color: var(--clr-grey800);
}

.attribution {
    margin-top: 2rem;
    font-size: 1.1rem;
    color: var(--clr-white);
    text-align: center;
}

.attribution a {
    color: var(--clr-green);
}